h1{
    color:white;
    border-radius:20px;
    text-align: center;
}

.button{
    border-radius: 20px;
    color: aqua;
    padding: 10px;
    background-color: antiquewhite;
    /* text-align: center; */
    /* padding: 15px 30px; */
}

div{
    text-align: center;
}